/* 全体のフォント */
body{
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  background-color: #F3EFE7;
  margin:0;
}

/* ヘッダー */
.header{
  background-color:#E73A38;
  color:white;
  font-family:"Impact", "arial black","sans-serif";
  font-weight:bold;
  font-size:30px;
  padding-left:2.5%;
  margin-bottom:20px;
}

/* コテンンツ全体 */
.content_wrapper{
  width: 95%;
  margin:0 auto;
}

/* 作品選択欄 */
.work_name_table{
  padding: 10px;
  border: solid 2px #1b1b1b;
  font-size:16px;
  background-color:white;
}

/* 作品選択欄のタイトル */
.work_name_title{
  font-size:20px;
  font-weight: bold;
}

/*ラジオボタン*/
/* デフォルトの丸の消去 */
.radio-input{
  display: none;
}

/* ラベルの整列 */
label{
  display: inline-block;
  width: 130px;
}

/*ラベルの位置*/
.radio-input + label{
  padding-left: 20px;
  position:relative;
}

/*外側の丸*/
.radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

/*選択された時の文字の色*/
.radio-input:checked + label{
  color: #E73A38;
}

/*内側の丸*/
.radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #E73A38;
  border-radius: 50%;
}


/* テキストボックス */
input{
  font-size: 18px;
  border: 2px solid rgb(150, 150, 150);
}

/*作品名表示欄*/
#work_name_display{
  width: 150px;
}
/*号数表示欄*/
#no{
  width: 50px;
}
/*文字数表記欄*/
.tweet_length{
  color:white;
  width:50px;
  float: right;
  text-align: center;
}


/* 表示欄 */
.display{
  margin-top: 15px;
}

#tweetdraft{
  margin-top: 10px;
}

textarea{
  width:100%;
  box-sizing: border-box;
  height:150px;
  font-size:18px;
  border: 2px solid rgb(150, 150, 150);
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", "sans-serif";
}


/*ボタン*/
.button_area{
  display: flex;
  justify-content: space-between;
}

button{
  font-size: 16px;
  padding: 10px;
  width:32%;
  font-weight:bold;
  border: 2px solid rgb(150, 150, 150);
  background-color: white;
}


button:active{
  font-size: 16px;
  color:white;
  background-color: rgb(150, 150, 150);
}


/* メモ */
.memo{
  margin-top:20px;
}

/* 見えない箱 */
#tweet_product_box{
  position:fixed;left:100vw
}
